html, body{
  overflow-x: hidden;
}

.family{
  font-family: 'Courier New', Courier, monospace;
}

body{
  background-color: rgb(199, 120, 120);
  color: black;
}

.App {
  text-align: center;
}

#tamanho{
  width: 50px;
  height: 50px;
}

.efeito{
  text-decoration: none;
  cursor: pointer;
}

.efeito:hover{
  color: blue;
}

/* img{
  background-image: url('../imgs/noticia.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
} */

.img_container{
  float: right;
}

button{
  background-color: white;
  text-decoration: none;
  display: inline;
  border: none;
  float: right;
}

#titulo, #texto{
  color: black;
}

.titulo_materia{
  color: red;
}

.tamanho-do-card{
  height: 430px;
}

#noticias{
  text-align: start;
  margin-left:15px ;
}

@media (max-width: 500px){
  .tamanho-do-card{
  height: 300px;
  }
  .texto{
    overflow: hidden;
    max-height: 148px;
  }
}


